@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background: #434343 !important;
}

p {
    font-family: 'Poppins', sans-serif; 
    
}

a, a:hover, a:focus {
    color: inherit !important;
    text-decoration: none !important;
    transition: all 0.3s !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position:fixed; 
    height: 100vh;
    background-image: linear-gradient(#434343, #1c1c1c);
    z-index: 999;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 0.3s;
    margin-right: 30px;
}

label{
    color: #eeeeee;
}

#sidebar ul p {
    color: #eeeeee;
    padding: 10px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1c1c1c;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1c1c1c;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-size: 15px;
    color: #eeeeee !important
}

#sidebar i {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff;
}

#nav-button {
    display: none;
}

#navbartop {
    display: none;
}

nav div.container-fluid {
    background: #1c1c1c !important;
    padding: 10px;
    color: #eeeeee;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #nav-button {
        display: unset;
    }

    #navbartop {
        display: unset !important;
    }
    
}

.form-logout {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 10px
}

button.btn-exit {
    border-radius: 35px;
    font-size: 17px;
    background: none;
    color:#eeeeee
}

.btn{
    border-radius: 35px !important;
}

.content {
    margin-left: 250px;
}

.box-sale, .items{
    background-color: #585858 !important;
}

.data-product, input{
    background-color: #7e7e7e !important;
    border: none !important;
}

::placeholder, h4, th, td{ /* É um pouco mais escuro para o contraste */
    color: #c7c7c7 !important;
}

.data-entrance{
    background-color: #676767 !important;
}